<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.univpm.hackathon2013"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icona4"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="it.univpm.hackathon2013.CalamityWeatherApplication" >
        <activity
            android:name="it.univpm.hackathon2013.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasinActivity"
            android:label="Basin Watcher"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="it.univpm.hackathon2013.ChartActivity"
            android:label="@string/title_activity_chart"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="it.univpm.hackathon2013.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="it.univpm.hackathon2013.Info"
            android:label="Calamity Watcher - Info" >
        </activity>
    </application>


</manifest>